@import 'toolbox';

.action-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 432px;
  height: 48px;
  padding: 0.5rem;
  font-size: 1.125rem;
  font-weight: 500;
  line-height: 1.3181rem;
  letter-spacing: 0.75px;
  background-color: $system-primary-color;
  color: $system-background-color;
  border-radius: 40px;
  border: 0;
  cursor: pointer;

  &:disabled {
    color: $color-gray-500;
    background-color: $color-gray-300;
    cursor: not-allowed;
  }
}
