@import 'toolbox';

.basket {
  padding-bottom: 5rem;

  &__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  &__header,
  &__content,
  &__footer {
    background-color: $system-background-color;
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 4rem;
    padding: 1rem;
    text-align: right;
    border-bottom: 1px solid $color-gray-300;
  }
  &__title {
    flex: 1;
    margin-left: 28px;
    font-size: 1.125rem;
    font-weight: 500;
    line-height: 1.3181rem;
    letter-spacing: 0.0469rem;
    text-align: center;
  }

  &__close {
    width: 1.75rem;
    height: 1.75rem;
    color: $system-primary-color;
    border: 0;
    background: none;
    cursor: pointer;
    margin-left: auto;
  }

  &__close-icon {
    font-size: 1.75rem;
  }

  &__content {
    flex: 1;
    display: flex;
    width: 100%;
    overflow: auto;
  }

  &__list {
    width: 100%;
    overflow: auto;
  }
  &__empty {
    width: 100%;
    font-weight: 400;
    color: $color-gray-500;
    padding: 1rem 1.5rem;
    font-size: 1.125rem;
    line-height: 1.3181rem;
    letter-spacing: 0.0469rem;
    text-align: center;
  }

  &__item {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    font-size: 1rem;
    line-height: 1.1719rem;
    color: $color-gray-700;
    border: 1px solid $color-gray-200;

    &-title {
      display: flex;
      align-items: center;
      justify-content: space-between;

      strong {
        font-weight: 500;
      }
    }

    &-subtitle {
      color: $color-gray-500;
    }
    &-counter {
      margin-top: 0.75rem;
    }
  }

  &__footer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    min-height: 4rem;
    padding: 1rem;
    background-color: $color-gray-100;
    margin-top: auto;
  }

  &__subtotal,
  &__total {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 1rem 0;

    strong {
      font-weight: 700;
    }
  }

  &__subtotal {
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.1719rem;
    border-bottom: 1px solid $color-gray-300;
  }

  &__total {
    font-size: 1.5rem;
    font-weight: 300;
    line-height: 1.7581rem;

    strong {
      font-weight: 700;
    }
  }

  &__mobile-actions {
    position: relative;
    display: none;
    width: 100%;
    justify-content: center;
    padding: 8px 24px 24px;

    &::before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      backdrop-filter: blur(10px);
      z-index: -1;
    }

    .action-button {
      width: 100%;
      max-width: 345px;
    }
  }

  @include respond-to('mobile') {
    &.basket__mobile-actions--hidden {
      padding-bottom: 0;
    }

    &--hidden {
      .basket__container {
        top: unset;
      }

      .basket__header,
      .basket__content,
      .basket__footer {
        display: none;
      }
    }

    &:not(.basket__mobile-actions--hidden) {
      .basket__mobile-actions {
        display: flex;
      }
    }
  }

  @include respond-to('desktop') {
    padding-bottom: 0;

    &__container {
      position: relative;
      background-color: $color-gray-100;
      box-shadow: 0px 2px 14px 0px #00000026;
    }

    &__header {
      padding: 1.375rem 1.5rem;
      border-color: transparent;
    }
    &__close {
      display: none;
    }
    &__title {
      margin-left: 0;
      font-size: 1.5rem;
      font-weight: 500;
      line-height: 1.7581rem;
      letter-spacing: 0.5px;
      text-align: left;
    }

    &__empty {
      text-align: left;
    }

    &__list {
      background-color: $system-background-color;
    }
  }
}
