@import 'toolbox';

.home {
  width: 100%;
  padding: 0 0.75rem;
  background-color: $color-white;

  &__banner {
    margin-bottom: 16px;
  }

  &__search {
    width: 100%;
    margin-bottom: 16px;
  }

  &__menu {
    padding: 40px 0 0 0;
    background-color: $color-white;

    &-basket {
      width: 100%;
    }
  }

  @include respond-to('desktop') {
    background-color: transparent;

    &__banner {
      margin-bottom: 12px;
    }

    &__search {
      margin-bottom: 12px;
    }

    &__menu {
      display: flex;
      justify-content: space-between;
      padding: 40px 32px;
      background-color: $color-gray-100;

      &-items {
        flex: 1;
      }
    }
    &__basket{
      width: 320px;
    }
  }
}
