$banner-image: var(--banner-image);
$background-colour: var(--background-colour);
$primary-colour: var(--primary-colour);
$primary-colour-hover: var(--primary-colour-hover);
$nav-background-colour: var(--nav-background-colour);

$default-transition: all 100ms ease-in-out;